<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>購入完了</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<h2>購入完了</h2>
	<p th:if="${#lists.isEmpty(orderList.orders)}">購入内容がありません。</p>
	<table th:unless="${#lists.isEmpty(orderList.orders)}" class="table table-bordered">
		<thead class="thead-lignt">
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>価格</th>
				<th>個数</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="order: ${orderList.orders}">
			<td th:text="${order.itemId}"></td>
			<td th:text="${order.name}"></td>
			<td th:text="${order.price}"></td>
			<td th:text="${order.num}"></td>
		</tr>
		<tr>
			<td colspan="3">合計</td>
			<td th:text="${orderList.totalPrice}"></td>
		</tr>
		</tbody>
	</table>
	<p><a th:href="@{/list}">商品一覧へ</a></p>
</body>
</html>
